.bigScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fae100;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  display: none;
}

@media screen and (min-width: 550px) {
  .bigScreen {
    display: flex;
  }
}
